body {
    padding: 0;
    margin: 0;
    background-size: cover;
    background-image:  url('https://images.unsplash.com/photo-1689850969146-43cd8e188bbf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80');
    background-blend-mode: darken;
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: all 0.4s ease-in;
  }
  
  .container1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    gap: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
  }
  
  .main-img1 {
    grid-column: 1;
    grid-row: 1;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    transition: transform .5s;
  }
  .main-img1:hover{
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.09, 1.09);
  }
  
  .img1 {
    background-image: url('https://scontent.fphx1-2.fna.fbcdn.net/v/t1.18169-9/13882292_10157227410465585_8181097540639846906_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=i5XP_hKWAwwAX-EmXEl&_nc_ht=scontent.fphx1-2.fna&oh=00_AfDmNDWep4xiWPYTKrRvcas-UaadgUl2ROyLgOJ8xaQB7A&oe=64ED7488')
  }
  
  .Name {
    text-align: center;
    padding: 0;
    margin: 1%;
    /* font-size: 50px; */
    grid-column-start: 2;
    grid-column-end: 4;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    
  }
  .Nametext,.Headtail{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9fc5e9, 0 0 40px #9fc5e9, 0 0 50px #9fc5e9, 0 0 60px #9fc5e9, 0 0 70px #9fc5e9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ade0f1, 0 0 40px #ade0f1, 0 0 50px #ade0f1, 0 0 60px #ade0f1, 0 0 70px #00BFFF, 0 0 80px #00BFFF;
    }
  }
  
  .Nametext{
    text-shadow: 0 12px 12px rgba(0,0,0,.5);
  }
  .main-img2 {
    grid-row: 1;
    grid-column: 4;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    transition: transform .5s;
  }
  .main-img2:hover{
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.09, 1.09);
    
  }
  .Intro {
    /* grid-row: 2; */
    grid-column: span 4;
    padding: 5%;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
  }
  
  .Bout {
    display: grid;
    grid-gap: 10px;
    margin: 0;
    padding: 1%;
    border-top: 2px solid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; 
  }
  .Bout {
    padding: 1%;
    /* grid-row: 3; */
    grid-column: span 4;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
  }
  .Bouthead {
    grid-column: 1/4;
    /* grid-row-start: 1;  */
  }
  .Table1{
    width: 100vw;
  }
  .main-img3 {
    grid-row: 2;
    grid-column: 1;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    transition: transform .5s;
  }
  .main-img3:hover {
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.09, 1.09);
  }
  .Bout-me-p {
    grid-row: 2;
    grid-column: span 3;
  }
  
  .Blog {
    padding: 5%;
    grid-column: span 4;
    border-top: 2px solid;
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
  }
  
  .ActionCall {
    grid-column: span 5;
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 20px;
  }
  #fname, #lname, #email{
    width: 99% ;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
    .HandShake{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 20%;
  }

  input[type=submit] {
    background-color: #0446aa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #456fa0;
  }
  .Closing {
    align-content: center;
    height: 30vh;
    margin-bottom: 5px;
    grid-column: span 4;
    border-top: 2px solid;
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
  }
  
  .img1,
  .img2,
  .img3 {
    width: 100%;
    height: 100%;
  }
  
  h1,
  .Headtail {
    font-size: 4rem;
    margin: 0;
    color: blue;
    text-shadow: 0 12px 12px rgba(0,0,0,.5);
  }
   
  @media only screen and (max-width: 2400px) {
    .StyleH3 {
      font-size: 35px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
      text-align: center;
    }
  
    .Headtail {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
      padding: 1%;
    }
  
    .Nametext {
      height: 30vh;
      font-size: 6rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      /* box-shadow: 0 15px 15px rgba(0,0,0,.2); */
    }
    .Closing {
    /* grid-row: 6; */
    align-content: center;
    height: 8vh;
    margin-bottom: 5px;
    grid-column: span 4;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .Name {
      height: 35vh;
    }
    
    .Nametext {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 4rem;
      text-size-adjust: 8px;
      margin: 0px;
      height: 23vh;
    }
  
    .StyleH3{
      font-size: 30px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
      text-align: center;
    }
   
    .Headtail {
      font-size: 3rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
    .Closing {
    /* grid-row: 6; */
    align-content: center;
    height: 30vh;
    margin-bottom: 5px;
    grid-column: span 4;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  }
  
  @media only screen and (max-width: 920px) {
    .main-img1 {
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
    .main-img2 {
      grid-row: 2;
      grid-column-start: 3;
      grid-column-end: 5;
    }
  
    .Name {
      height: 15vh;
      font-size: 20px;
      grid-column-start: 1;
      grid-column-end: 5;
    }
  
    .Nametext {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      letter-spacing: 8px;
      text-size-adjust: 10px;
      height: 8vh;
    }
  
    .StyleH3 {
      font-size: 30px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
      text-align: center;
    }
  
    .Headtail {
      font-size: 2rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  }
  
  @media only screen and (max-width: 730px){
    .Name{
      height: 16vh;
    }
    .Nametext {
      font-size: 3rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  .project{
    top: 0;
    left: 0;
    padding: 1%;
  }
    .StyleH3 {
      font-size: 18px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
      text-align: center;
    }
  
    .Headtail {
      height: 15vh;
      font-size: 2rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
   .Bout-me-p {
    grid-row: 3;
    grid-column: span 3;
    }
    .main-img3 {
    
    max-height: 50vh;
    grid-row: 2;
    grid-column: span 3;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  
  .HandShake {
    width: 40%;
    height: 30%;
    }
  }
  
  @media only all and (max-width: 670px){
    .Name {
      height: 10vh;
    }
  
    .Nametext {
      height: 8vh;
      font-size: 1.5rem;
      /* text-size-adjust: 1px; */
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .Blogtext, .Introtext{
    font-size: 1rem;
    }
  
    .StyleH3 {
      font-size: 30px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
      text-align: center;
    }
   
    .Headtail {
      font-size: 1rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  
   .Bout-me-p {
    grid-row: 3;
    grid-column: span 3;
    }
    .main-img3 {
    
    max-height: 50vh;
    grid-row: 2;
    grid-column: span 3;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
    .Blog,
    .Intro,
    .Bout
      {
      font-size: 30px;
    }
  
    .HandShake {
      width: 40%;
      height: 30%;
    }
  }

  @media only screen and (max-width: 520px) {
    .Name {
      height: 10vh;
    }
  
    .Nametext {
      height: 5vh;
      font-size: 1.5rem;
      /* text-size-adjust: 1px; */
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  
    .StyleH3 {
      font-size: 18px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
      text-align: center;
    }
   
    .Headtail {
      font-size: 1rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  
    .Blog,
    .Intro,
    .Bout
      {
      font-size: 30px;
    }
    .Bout-me-p {
    grid-row: 3;
    grid-column: span 3;
    }
    .main-img3 {
    
    max-height: 40vh;
    grid-row: 2;
    grid-column: span 3;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  
    .HandShake {
      width: 40%;
      height: 30%;
    }
  }
  
  @media only screen and (max-width: 480px) {
   
    .Nametext {
      height: 6vh;
      font-size: 1.5rem;
      /* text-size-adjust: 1px; */
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
     .Name {
      height: 2vh;
    }
    .Blogtext, .Introtext{
      font-size: 1rem;
    }
  
    .StyleH3 {
      font-size: 18px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
      text-align: center;
    }
  
    .Headtail {
      height: 10vh;
      font-size: 15px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
     .Bout-me-p {
    grid-row: 3;
    grid-column: span 3;
    font-size: 1rem;
    }
    .main-img3 {
    
    max-height: 40vh;
    grid-row: 2;
    grid-column: span 3;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  
    .Blog,
    .Intro,
    .Bout
      {
      font-size: 1rem;
      
      font-size: 30px;
    }
  
    .HandShake {
      width: 40%;
      height: 30%;
    }
  }
  
  @media only screen and (max-width: 365px) {
    .Name {
      height: 15vh;
    }
  
    .Nametext {
      height: 10vh;
      font-size: 1rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  }
  
  @media (orientation: landscape) {
    .Name {
      flex-direction: row;
      height: 35vh;
    }
  
    .Nametext {
      height: 15vh;
    }
  }
  
  @media (orientation: portrait) {
    .Name {
      flex-direction: column;
      height: 10vh;
      font-size: 1.5rem;
    }
    .Nametext {
      height: 5vh;
    }
  }

  /* New addition start here. This update contains Light/Dark Mode. */

  .dark-mode {
    background-color: #333;
    color: #f0f0f0;
    /* transition: all 0.4s ease-in; */
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.13rem;
    margin-bottom: 0.63rem;
    margin-inline: auto;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /* transition: all 0.4s ease-in; */
    border-radius: 2.13rem;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.63rem;
    width: 1.63rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    /* transition: 0.5s; */
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 2px #2196f3;
  }
  
  input:checked + .slider:before {
    transform: translateX(1.63rem);
  }

  /* another update; projects CSS */

  /* *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */
  
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: all 0.4s ease-in;
  }
  
  
  h1 {
    text-align: center;
    margin-top: 1.25rem;
  }
  
  
  .container {
    display: grid;
    width: 100%;
    min-height: calc(100vh - 4.25rem);
    place-content: center;
    gap: 1rem;
    text-align: center;
  }
  
  
  /* Slider CSS below*/
  
  .Submit {
    cursor: pointer;
  }
  
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 30px;
  }
  
  #slider {
    position: relative;
    width: 100%;
    height: 50vh;
    padding: 1%;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    border-radius: 10%;
   

  }
  .project {
    display: grid;
    width: 100%;
    /* top: 0;
    left: 0; */
    min-height: calc(100vh - 4.25rem);
    place-content: center;
    gap: 1rem;
    text-align: center;
    
  }
  
  #slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s ease-in-out;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    border-radius: 10%;
  }
  
  #slider img.active {
    opacity: 1;
  }
  
  #prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #717171;
    color: #f1f1f1;
    font-size: 32px;
    font-stretch: condensed;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  
   #next:hover {
    background-color: steelblue;
  }
    #prev:hover {
      background-color: steelblue;
  }
  
  button#prev {
    left: -.5rem;
    padding: 5px 17px 5px 15px;
  }
  
  button#next {
    right: -.5rem;
    padding: 5px 15px 5px 17px;
  }

