body {
    padding: 0;
    margin: 0;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1689850969146-43cd8e188bbf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80');
  }
  
  .container1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    gap: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
  }
  
  .container1 div {
    padding: 8px;
    /* border: 1px solid black; */
  }
  
  .main-img1 {
    grid-column: 1;
    grid-row: 1;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    transition: transform .5s;
  }
  .main-img1:hover{
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.09, 1.09);
  }
  
  .img1 {
    background-image: url('https://scontent.fphx1-2.fna.fbcdn.net/v/t1.18169-9/13882292_10157227410465585_8181097540639846906_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=i5XP_hKWAwwAX-EmXEl&_nc_ht=scontent.fphx1-2.fna&oh=00_AfDmNDWep4xiWPYTKrRvcas-UaadgUl2ROyLgOJ8xaQB7A&oe=64ED7488')
  }
  
  .Name {
    text-align: center;
    padding: 0;
    margin: 1%;
    /* font-size: 50px; */
    grid-column-start: 2;
    grid-column-end: 4;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    
  }
  .Nametext,.Headtail{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9fc5e9, 0 0 40px #9fc5e9, 0 0 50px #9fc5e9, 0 0 60px #9fc5e9, 0 0 70px #9fc5e9;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ade0f1, 0 0 40px #ade0f1, 0 0 50px #ade0f1, 0 0 60px #ade0f1, 0 0 70px #00BFFF, 0 0 80px #00BFFF;
    }
  }
  
  .Nametext{
    text-shadow: 0 12px 12px rgba(0,0,0,.5);
  }
  .main-img2 {
    grid-row: 1;
    grid-column: 4;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    transition: transform .5s;
  }
  .main-img2:hover{
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.09, 1.09);
    
  }
  .Intro {
    /* grid-row: 2; */
    grid-column: span 4;
    padding: 1%;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
  }
  
  .Bout {
    display: grid;
    grid-gap: 10px;
    margin: 0;
    padding: 1%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; 
  }
  .Bout {
    padding: 1%;
    /* grid-row: 3; */
    grid-column: span 4;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
  }
  .Bouthead {
    grid-column: 1/4;
    /* grid-row-start: 1;  */
  }
  
  .main-img3 {
    grid-row: 2;
    grid-column: 1;
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    transition: transform .5s;
  }
  .main-img3:hover {
    -ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.09, 1.09);
  }
  .Bout-me-p {
    grid-row: 2;
    grid-column: span 3;
  }
  
  .Blog {
    /* grid-row: 4; */
    grid-column: span 4;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
  }
  
  .ActionCall {
    /* grid-row: 5; */
    
    grid-column: span 5;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
  }
  
  .Closing {
    /* grid-row: 6; */
    align-content: center;
    height: 30vh;
    margin-bottom: 5px;
    grid-column: span 4;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
  }
  
  .img1,
  .img2,
  .img3 {
    width: 100%;
    height: 100%;
  }
  
  h1,
  .Headtail {
    font-size: 4rem;
    margin: 0;
    color: blue;
    text-shadow: 0 12px 12px rgba(0,0,0,.5);
  }
  
  .Submit {
    cursor: pointer;
  }
  
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 30px;
  }
  
  @media only screen and (max-width: 2400px) {
    .StyleH3 {
      font-size: 35px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  
    .Headtail {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
      padding: 1%;
    }
  
    .Nametext {
      height: 30vh;
      font-size: 6rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      /* box-shadow: 0 15px 15px rgba(0,0,0,.2); */
    }
    .Closing {
    /* grid-row: 6; */
    align-content: center;
    height: 30vh;
    margin-bottom: 5px;
    grid-column: span 5;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .Name {
      height: 35vh;
    }
    .Nametext {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 4rem;
      text-size-adjust: 8px;
      margin: 0px;
      height: 23vh;
    }
  
    .StyleH3{
      font-size: 30px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
   
    .Headtail {
      font-size: 3rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
    .Closing {
    /* grid-row: 6; */
    align-content: center;
    height: 30vh;
    margin-bottom: 5px;
    grid-column: span 5;
    border-top: 2px solid;
    /* border-bottom: 2px solid ; */
    border-image: linear-gradient(to right, teal 75%, teal 75%, teal 10%, teal 75%, teal 75%) 5;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  }
  
  @media only screen and (max-width: 920px) {
    .main-img1 {
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  
    .main-img2 {
      grid-row: 2;
      grid-column-start: 3;
      grid-column-end: 5;
    }
  
    .Name {
      height: 15vh;
      font-size: 20px;
      grid-column-start: 1;
      grid-column-end: 5;
    }
  
    .Nametext {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      letter-spacing: 8px;
      text-size-adjust: 10px;
      height: 8vh;
    }
  
    .StyleH3 {
      font-size: 30px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  
    .Headtail {
      font-size: 2rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  }
  
  @media only screen and (max-width: 730px){
    .Name{
      height: 16vh;
    }
    .Nametext {
      font-size: 3rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  
    .StyleH3 {
      font-size: 18px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  
    .Headtail {
      height: 15vh;
      font-size: 2rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
   .Bout-me-p {
    grid-row: 3;
    grid-column: span 3;
    }
    .main-img3 {
    
    max-height: 50vh;
    grid-row: 2;
    grid-column: span 3;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  
  .HandShake {
    width: 40%;
    height: 30%;
    }
  }
  
  @media only all and (max-width: 670px){
    .Name {
      height: 10vh;
    }
  
    .Nametext {
      height: 8vh;
      font-size: 1.5rem;
      /* text-size-adjust: 1px; */
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  
    .StyleH3 {
      font-size: 18px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
   
    .Headtail {
      font-size: 1rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  
   .Bout-me-p {
    grid-row: 3;
    grid-column: span 3;
    }
    .main-img3 {
    
    max-height: 50vh;
    grid-row: 2;
    grid-column: span 3;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
    .Blog,
    .Intro,
    .Bout
      {
      font-size: 30px;
    }
  
    .HandShake {
      width: 40%;
      height: 30%;
    }
  }
  
  @media only screen and (max-width: 520px) {
    .Name {
      height: 10vh;
    }
  
    .Nametext {
      height: 5vh;
      font-size: 1.5rem;
      /* text-size-adjust: 1px; */
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  
    .StyleH3 {
      font-size: 18px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
   
    .Headtail {
      font-size: 1rem;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  
    .Blog,
    .Intro,
    .Bout
      {
      font-size: 30px;
    }
    .Bout-me-p {
    grid-row: 3;
    grid-column: span 3;
    }
    .main-img3 {
    
    max-height: 40vh;
    grid-row: 2;
    grid-column: span 3;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  
    .HandShake {
      width: 40%;
      height: 30%;
    }
  }
  
  @media only screen and (max-width: 480px) {
   
    .Nametext {
      height: 6vh;
      font-size: 30px;
      /* text-size-adjust: 1px; */
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
     .Name {
      height: 2vh;
    }
  
    .StyleH3 {
      font-size: 18px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
  
    .Headtail {
      height: 10vh;
      font-size: 15px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: blue;
    }
     .Bout-me-p {
    grid-row: 3;
    grid-column: span 3;
    }
    .main-img3 {
    
    max-height: 40vh;
    grid-row: 2;
    grid-column: span 3;
    box-shadow: 0 12px 12px rgba(0,0,0,.2);
    }
  
    .Blog,
    .Intro,
    .Bout
      {
      font-size: 30px;
      color: red;
    }
  
    .HandShake {
      width: 40%;
      height: 30%;
    }
  }
  
  @media only screen and (max-width: 365px) {
    .Name {
      height: 15vh;
    }
  
    .Nametext {
      height: 10vh;
      font-size: 25px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  }
  
  @media (orientation: landscape) {
    .Name {
      flex-direction: row;
      height: 35vh;
    }
  
    .Nametext {
      height: 15vh;
    }
  }
  
  @media (orientation: portrait) {
    .Name {
      flex-direction: column;
      height: 10vh;
      font-size: 10px;
    }
    .Nametext {
      height: 5vh;
    }
  }
